.about {
  padding: 2vw;
}

.about__image-wrapper {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #000;
  transition: all .1s linear;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.about__image-wrapper:hover {
  border: 5px solid #0882ff;
}

.about__image {
  transition: all 1s ease-in-out;
}
.about__image:hover {
  transform: scale(1.1)
}
