.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.about__image-wrapper {
  box-sizing: border-box;
  flex: 1 1 auto;
  border-radius: 15px;
  padding: 10px;
  /* border: 2px solid #000; */
  transition: all 0.4s linear;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.about__image-wrapper:hover {
  transform: translate(10px, -30px);
  margin-top: 25px;
  box-shadow: 0 10px #666;
  border: 1px solid #000;
  cursor: default;
}

.about__text-box {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50%;
}

.about__title {
  border-bottom: 2px solid #000;
  align-self: flex-end;
}

.about__text {
  width: 100%;
  align-self: flex-start;
  text-align: justify;
  line-height: 2;
  
}

@media screen and (max-width: 950px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about__image {
    width: 100%;
  }

  .about__text-box {
    width: 100%;
  }
}