.body {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.body::before {
  content: "";
  background-image: url("../tile_background(3).png");
  background-repeat: repeat;
  position: fixed;
  top:0;
  width: 100%;
  height: 150vh;
  opacity: 0.8;
  z-index: -1
}