.body {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.body::before {
  content: "";
  background-image: url("../tile_background(3).png");
  background-repeat: repeat;
  background-size: 1000px;
  position: fixed;
  height: 100vh;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: -1
}