.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form__button {
  box-sizing: border-box;
  background: black;
  color: white;
  padding: 20px;
  border-radius: 3px;
  min-width: 150px;
  border: none;
  transition: ease-in-out 0.2s;
  box-shadow: 0 5px #666;
}

.form__button_state_inactive {
  background: transparent;
  color: black;
  transition: all ease-in-out 0.2s;
  border: 1px solid #000;
  opacity: 0.5;
}

.form__button_state_checked {
  background: url("../images/form/5740102_check_checklist_list_mark_ok_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  opacity: 1;
  box-shadow: 0 5px #666;
}

.form__button:enabled:hover {
  transform: scale(1.1);
  margin-left: 10px;
  cursor: pointer;
}

.form__button:enabled:active {
  background: url("../images/5740102_check_checklist_list_mark_ok_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(4px);
  color: transparent;

}

.form__input {
  padding: 20px;
  font-size: 10px;
  flex: 1 1 auto;
  transition: ease-in-out 0.2s;
  box-shadow: 0 5px #666;
}