.section-card {
  box-sizing: border-box;
  width: 100%;
  background: rgba(252,251,244, .4);
  min-height: 400px;
  max-width: 1200px;
  margin: auto;
  border: 2px solid #000;
  border-radius: 20px;
  box-shadow: 0 5px #666;
  padding: 6vh 3vh;

}

.section-card__title {
  margin: 0;
  font-family: changa;
  font-size: 30px;
}